/* Write your CSS here */

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #475569;
  margin: 0;
}
.suggestion-msg {
  font-family: 'Roboto';
  font-size: 16px;
}

.arrow-img {
  width: 23px;
  height: 23px;
  cursor: pointer;
}
